Source: ros-indigo-rosplan-interface-movebase
Section: misc
Priority: extra
Maintainer: michael <michael.cashmore@kcl.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-diagnostic-msgs, ros-indigo-geometry-msgs, ros-indigo-mongodb-store, ros-indigo-move-base-msgs, ros-indigo-roscpp, ros-indigo-rosplan-dispatch-msgs, ros-indigo-rosplan-knowledge-msgs, ros-indigo-rosplan-planning-system, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-std-srvs
Homepage: https://github.com/KCL-Planning/ROSPlan
Standards-Version: 3.9.2

Package: ros-indigo-rosplan-interface-movebase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-diagnostic-msgs, ros-indigo-mongodb-store, ros-indigo-roscpp, ros-indigo-rosplan-dispatch-msgs, ros-indigo-rosplan-knowledge-msgs, ros-indigo-rosplan-planning-system, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-std-srvs
Description: ROSPlan dispatch interface for the movebase library. Adapts PDDL actions dispatched from ROSPlan to the movebase ROS actions.
