Source: ros-indigo-rosplan-planning-system
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), flex, freeglut3-dev, ros-indigo-catkin, ros-indigo-diagnostic-msgs, ros-indigo-mongodb-store, ros-indigo-roscpp, ros-indigo-rosplan-dispatch-msgs, ros-indigo-rosplan-knowledge-msgs, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-std-srvs
Homepage: https://github.com/KCL-Planning/ROSPlan
Standards-Version: 3.9.2

Package: ros-indigo-rosplan-planning-system
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, flex, freeglut3-dev, ros-indigo-diagnostic-msgs, ros-indigo-mongodb-store, ros-indigo-roscpp, ros-indigo-rosplan-dispatch-msgs, ros-indigo-rosplan-knowledge-msgs, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-std-srvs
Description: Deliberative layer of ROSPlan. Deals with automatic problem generation, planning, dispatch, and replanning.
